{% extends "base.html" %}

{% block h1_head %}<title>Editar Movil</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">**MOVILES**</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_movil' %}>CARGAR NUEVO MOVIL</a>
{% endblock nav_formulario %}


{% block main %}

<form action="" method="POST">
    {% csrf_token %}
    <table style= "color: black; margin: 20px auto;">{{form.as_table}}</table>
    <input type="submit" value="Editar" style="width: 150px;">
</form> 

{% endblock main %}