{% extends "base.html" %}

{% block h1_head %}<title>Laptops</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">LAPTOPS</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_laptop' %}>CARGAR LAPTOP</a>
{% endblock nav_formulario %}

{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Samsung, Apple ...">
    <input type="submit" value="Buscar">
</form>
    {% for laptop in listado_laptops %}
    <li> 
        {{laptop}}  |<a href={% url 'eliminar_laptop' laptop.id %}>Eliminar</a>|<a href={% url 'editar_laptop' laptop.id %}>Editar</a>| <a href={% url 'detalle_laptop' laptop.id %}>Ver más...</a>|
    </li>
    {% endfor %}
{% endblock main %}