{% extends "base.html" %}

{% block h1_head %}<title>Laptops</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">LAPTOPS</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_laptop' %}>CARGAR LAPTOP</a>
{% endblock nav_formulario %}

{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Samsung, Apple ...">
    <input type="submit" value="Buscar">
</form>
<div style= "color: black; ">
    {% if listado_laptops %}
        {% for laptop in listado_laptops %}
        <li style="margin: 10px auto;">  
        <strong>{{laptop}}</strong>  |<a href={% url 'eliminar_laptop' laptop.id %}>Eliminar</a>|<a href={% url 'editar_laptop' laptop.id %}>Editar</a>| <a href={% url 'detalle_laptop' laptop.id %}>Ver más...</a>|
        </li>
        {% endfor %}
    {% else %} 
        <p> No se encontraron laptops marca {{marca_a_buscar|upper}} </p>
    {% endif %}    
</div>
{% endblock main %}