{% extends "base.html" %}

{% block h1_head %}<title>Laptops</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">LAPTOPS</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_laptop' %}>CARGAR NUEVA LAPTOP</a>
{% endblock nav_formulario %}


{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Samsung, Apple ...">
    <input type="submit" value="Buscar">
</form>
    {% for elemento in listado_laptops %}
    <li> 
        {{elemento}} 
    </li>
    {% endfor %}
{% endblock main %}