{% extends "base.html" %}

{% block h1_head %}<title>Moviles</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">MOVILES</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_movil' %}>CARGAR MOVIL</a>
{% endblock nav_formulario %}


{% block main %}



    {% if listado_moviles %}
        <ul>
            {% for movil in listado_moviles %}
            <li> 
            <a href={% url 'detalle_movil' movil.id %}>{{movil}}</a> | <a href={% url 'editar_movil' movil.id %}>Editar</a> | <a href={% url 'eliminar_movil' movil.id %}>Eliminar</a>|
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No se encontraron moviles cargados </p>
    {% endif %}

{% endblock main %}

