{% extends "base.html" %}

{% block h1_head %}<title>Moviles</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">MOVILES</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_movil' %}>CARGAR NUEVO MOVIL</a>
{% endblock nav_formulario %}


{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Samsung, Apple ...">
    <input type="submit" value="Buscar">
</form> 
    {% for elemento in listado_moviles %}
    <li> 
        {{elemento}} 
    </li>
    {% endfor %}
{% endblock main %}

