{% extends "base.html" %}

{% block h1_head %}<title>Moviles</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">MOVILES</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_movil' %}>CARGAR MOVIL</a>
{% endblock nav_formulario %}


{% block main %}
<form action = {% url "moviles" %}>
    <input type='text' name='marca' placeholder='SAMSUNG, IPHONE ...'>
    <input TYPE='submit' value='buscar'>
</form>
    {% if listado_moviles %}
        {% for movil in listado_moviles %}
            <li style= "color: black; margin: 10px auto;"> 
                <a href={% url 'detalle_movil' movil.id %}><strong>{{movil}}</strong></a> | <a href={% url 'editar_movil' movil.id %}>Editar</a> | <a href={% url 'eliminar_movil' movil.id %}>Eliminar</a>|
            </li>
        {% endfor %}
    {% else %}
        <p> No se encontraron moviles cargados </p>
    {% endif %}

{% endblock main %}

