{% extends "base.html" %}

{% block h1_head %}<title>Televisores</title> {% endblock h1_head %}

{% block h1_header %}
<h1 class="masthead-heading mb-0">TELEVISORES</h1>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'cargar_televisor' %}>CARGAR TV</a>
{% endblock nav_formulario %}


{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Samsung, LG, TCL ...">
    <input type="submit" value="Buscar">
</form>
    {% for televisor in listado_televisores %}
    <li> 
        {{televisor}} |<a href={% url 'eliminar_televisor' televisor.id %}>Eliminar</a>| <a href={% url 'editar_televisor' televisor.id %}>Editar</a>| <a href={% url 'detalle_televisor' televisor.id %}>Ver más...</a>| 
    </li>
    {% endfor %}
{% endblock main %}
