{% extends "base.html" %}

{% block h1_head %}<title>About us</title> {% endblock h1_head %}

{% block h1_header %}
<title>About us</title>
{% endblock h1_header %}

{% block nav_formulario %}

{% endblock nav_formulario %}


{% block main %}
<div class="contenedorFormulario" style= "color: black;">
    <h3 style= "color: black;">ABOUT US (ME)</h3>
    <hr>
    <p>
        Mi nombre es Pablo. Tengo 34 años. Soy Ingeniero Civil. Vivo en la Ciudad de Córdoba.
        Actualmente trabajo en la Empresa Provincial de Energia de Cordoba (EPEC) haciendo inspeccion de obras.
    </p>
    <p>
        En mi tiempo libre me gusta entrenar en el gym. Andar en bici y disfrutar de buena musica electrónica ; )
    </p>    
    <p>
        Hace un tiempo que me empezó a interesar el mundo de la programación, así que decidí hacer el curso de introducción a Python en Coder
         para empezar a aprender algún lenguaje, más a modo de hobbie incialmente, pero con la idea de afianzar un camino de formación profesional a futuro.
    </p>
    <p> Mi primera experiencia con la programación fue en la facultad (UTN-FRC) donde aprendi a programar en C++. 
        El año pasado empece un curso en Argentina Programa sobre programacion en python referido a Ciencia de Datos, pero lo abandone porque
        el contenido me resultaba sumamente basico y mal organizado el curso.
    </p>

    <hr>
</div>

{% endblock main %}