{% extends "base.html" %}

{% block h1_head %}<title>Editar perfil</title> {% endblock h1_head %}

{% block h1_header %}
<title>Editar Perfil</title>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'perfil' %}>Volver</a>
{% endblock nav_formulario %}


{% block main %}
<h3>EDITAR DATOS DE REGISTRO</h3>

<form action= {% url "editar_perfil" %} method="POST" >
    {% csrf_token %}
    {{formulario}}
    <input type="submit" value="Editar datos">
</form>

{% endblock main %}