{% extends "base.html" %}

{% block h1_head %}<title>Editar perfil</title> {% endblock h1_head %}

{% block h1_header %}
<title>Editar Perfil</title>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'perfil' %}>Volver</a>
{% endblock nav_formulario %}


{% block main %}
<h3>DATOS DE USUARIO</h3>

<div class="contenedorFormulario">
    <form action= {% url "editar_perfil" %} method="POST" enctype='multipart/form-data' style="text-align: center;">
    {% csrf_token %}
    <table style= "color: black; margin: 20px auto;">{{formulario.as_table}}</table>
    <input type="submit" value="Guardar cambios" style="width: 150px;">
    </form>
</div>

{% endblock main %}