{% extends "base.html" %}

{% block h1_head %}<title>Editar password</title> {% endblock h1_head %}

{% block h1_header %}
<title>Editar password</title>
{% endblock h1_header %}

{% block nav_formulario %}
<a class="navbar-brand" href={% url 'perfil' %}>Volver</a>
{% endblock nav_formulario %}


{% block main %}
<h3>EDITAR CONTRASEÑA</h3>
<form action= {% url "editar_password" %} method="POST" >
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" value="Cambiar contraseña">
</form>

{% endblock main %}